<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
  </head>
  <body>
    <div>
      <%= title %>
    </div>
  </body>
</html>
