* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  min-height: 100vh;
  background: rgba(128, 128, 128, 0.315);
  padding: 100px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
